

<form action='/calculator' method='post'>
  <p>Line and Station to Board</p>
  <select name = 'on'>
    <option value='l-8th'>8th on L</option>
    <option value='l-6th'>6th on L</option>
    <option value='l-union'>Union</option>
    <option value='l-3rd'>3rd on L</option>
    <option value='l-1st'>1st on L</option>
    <option value='n-8th'>8th on N</option>
    <option value='n-23rd'>23rd on N</option>
    <option value='n-28th'>28th on N</option>
    <option value='n-34th'>34th on N</option>
    <option value='n-ts'>Times Square</option>
    <option value='s-ap'>Astor Place</option>
    <option value='s-23rd'>23rd on L</option>
    <option value='s-28th'>28th on S</option>
    <option value='s-33rd'>33rd on S</option>
    <option value='s-gc'>Grand Central</option>
  </select>
  <p>Line and Station to Exit</p>
  <select name = 'off'>
     <option value='l-8th'>8th on L</option>
    <option value='l-6th'>6th on L</option>
    <option value='l-union'>Union</option>
    <option value='l-3rd'>3rd on L</option>
    <option value='l-1st'>1st on L</option>
    <option value='n-8th'>8th on N</option>
    <option value='n-23rd'>23rd on N</option>
    <option value='n-28th'>28th on N</option>
    <option value='n-34th'>34th on N</option>
    <option value='n-ts'>Times Square</option>
    <option value='s-ap'>Astor Place</option>
    <option value='s-23rd'>23rd on L</option>
    <option value='s-28th'>28th on S</option>
    <option value='s-33rd'>33rd on S</option>
    <option value='s-gc'>Grand Central</option>
  </select>
  <button>Go!</button>
</form>

<%= @result if @result %>
